<div class="card">
    <div class="card-header">
      <div class="card-header__image">
        <img src="https://66.media.tumblr.com/2b4148e12c8dbda15f4f4b83d5e3a9f7/tumblr_prqk1fqyTO1vym1xi_540.jpg" width=200 height=200>
      </div>
      <div class="card-header__title">
        <h2>Giyu Tomioka <br/> 冨とみ岡おか 義ぎ勇</h2>
      </div>
    </div>
    <div class="card-body">
      <h4>Giyu always wears a serious expression on his face and has a reserved personality and a strong sense of justice. He has no tolerance towards those who don't know their own limitations and throw away their lives.Despite letting Nezuko live due to Tanjiro's persistence, like most Demon Hunters he shows no hesitation when killing other demons, and has no respect towards them.
        He seems to have a complex with what others think of him and is shocked when Shinobu claims he is hated by many.
        He doesn't say much and has trouble interacting with others, so he usually keeps himself at a distance.
        It is revealed that Giyu suffers from an inferiority complex which he developed since his participation in the Final Selection. It gets severe to the point where he contemplates abandoning his position as the Water PIllar until Tanjiro helps him realize that instead of acting on his survivor's guilt, he should cherish his life and live on for the people who sacrificed their lives for him.</h4>
  </div>
    <div class="card-buttons">
      <button class="card-buttons__save">Save</button>
      <button class="card-buttons__close">Close</button>
    </div>
  </div>
