<div class="card-holder">
  <div class="card">
    <div class="card-header">
      <div class="card-header__image">
        <img
          src="https://66.media.tumblr.com/b2fb0ee8dc468e038bae9610dd4ac4a4/90811c07f07fa367-f8/s640x960/058239c77e9120007c9823be7cd00b133c287a64.jpg"
          width=200 height=200>
      </div>
      <div class="card-header__title">
        <h2>Inosuke Hashibira <br /> 嘴はし平びら伊い之の助すけ </h2>
      </div>
    </div>
    <div class="card-body">
      <h4>Inosuke is extraordinarily short-tempered and proud and makes a big deal out of fighting opponents stronger
        than him claiming that's his only hobby.Inosuke will not think about the difference in power between him and his
        opponent; this often led him to be in danger. He is always trying to compete with Tanjiro and provoke him into
        fighting with him and usually failing. Due to growing up in the mountains by himself Inosuke has trouble
        interacting with others and only cares about himself most of the time. However, as time goes by, Inosuke becomes
        more influenced by Tanjiro, and he also starts to think and to use strategies before going head-on with an
        opponent.</h4>
    </div>
    <div class="card-buttons">
      <button class="card-buttons__save">Save</button>
      <button class="card-buttons__close">Close</button>
    </div>
  </div>

  <!-- Card no.2 -->
  <div class="card2">
    <div class="card2-header">
      <div class="card2-header__image">
        <img src="https://data.whicdn.com/images/332193819/large.png" width=200 height=200>
      </div>
      <div class="card2-header__title">
        <h2>Zenitsu Agatsuma <br /> 我あが妻つま善ぜん逸いつ</h2>
      </div>
    </div>
    <div class="card2-body">
      <h4>Agatsuma Zen'itsu is a Demon Slayer and member of the Demon Slaying Corps. He is a traveling companion of
        Tanjiro Kamado and one of the main protagonists of Demon Slayer: Kimetsu no Yaiba. Zenitsu is a coward, always
        claiming he doesn't have long to live due to the dangerous job of being a Demon Hunter. He is also a bit of a
        womanizer and likes to hit on girls who he thinks are cute and ask them to marry him much to their annoyance.
        Zenitsu has low self-esteem but still wants to live up to the expectations others set up for him. However, he
        was constantly afraid and would always cry and run away. He claims he wants to live a modest life where he can
        be useful to someone.
        Despite all his spinelessness, Zenitsu holds great respect and admiration towards his comrades and his deceased
        teacher, Jigoro Kuwajima. His focus and drive in avenging him helped him wash away his cowardice and second
        thoughts.</h4>
    </div>
    <div class="card-buttons">
      <button class="card-buttons__save">Save</button>
      <button class="card-buttons__close">Close</button>
    </div>
  </div>

  <!-- Card no.3 -->
  <div class="card3">
    <div class="card3-header">
      <div class="card3-header__image">
        <img src="https://i.pinimg.com/originals/ab/1d/91/ab1d91db2a4d974c43f0fec4f97104b0.jpg" width=200 height=200>
      </div>
      <div class="card3-header__title">
        <h2>Tanjiro <br /> Kamado <br /> 竈門かまど炭たん治じ郎ろう</h2>
      </div>
    </div>
    <div class="card3-body">
      <h4>Tanjiro is kind by nature and has been described by others as having very gentle eyes. He has a great deal of
        determination and will not give up once he has a goal to achieve; an example is finding a cure for Nezuko. Even
        though he is relatively strong on his own, he isn't opposed to asking others for help when he needs it. He is
        very protective of his friends and even more so of his younger sister. His most important attribute is his
        ability to empathize with anyone, even demons. This often makes him hesitate when killing demons. However, this
        trait also could make some Demons to redeem themselves moments before death, albeit rarely. However, despite his
        empathetic nature, Tanjiro does have a limit to his tolerance and has a distaste for rudeness, getting annoyed
        by the constant whining made by Zenitsu, and angered by Inosuke's barbaric actions.

        For the years of his service and amount of experience he faced, he became more calculating and strict in his
        decision. His courage to protect the weak committed him to face his enemy with respect and dignity whether good
        or evil demons.</h4>
    </div>
    <div class="card-buttons">
      <button class="card-buttons__save">Save</button>
      <button class="card-buttons__close">Close</button>
    </div>
  </div>

  <!-- Card no.4 -->
  <div class="card4">
    <div class="card4-header">
      <div class="card4-header__image">
        <img
          src="https://66.media.tumblr.com/fbe1888874bc5add66eaf43b7ac77c0a/3ce59f2c0e035606-79/s640x960/2d5bd1e1f55b9c385638d04e9fa9fb8fc686e47f.png"
          width=200 height=200>
      </div>
      <div class="card4-header__title">
        <h2>Nezuko <br /> Kamado <br /> 竈門かまど禰ね豆ず子</h2>
      </div>
    </div>
    <div class="card4-body">
      <h4>Nezuko's original personality as a human was that of a kind and caring girl, who thought of others before
        herself much like her older brother Tanjiro. She was a responsible elder sister to her younger siblings.

        As a demon, Nezuko seems to have forgotten a good portion of her memories as a human, besides those related to
        her family. She is still very caring and protective towards other humans who she sees as members of her family
        due to Urokodaki's influence while she was asleep for two years. She is also rather brazen, and does not seem to
        fear fighting; she fiercely guards her brother as well as her allies. She also developed a strong willpower as
        she refused to consume human flesh or blood, even in cases of extreme injury or exposure to human blood, such as
        Sanemi Shinazugawa's Marechi blood.

        She still retains her human emotions, as she has been seen to cry and be happy, but in general she appears more
        detached than her human cohorts, as well as calmer and less malicious than most Demons.

        As a demon, Nezuko does not talk often and stutters a lot. This may be due to her bamboo mouthpiece, which is
        seldom removed. It also means she is sometimes hard to read.</h4>
    </div>
    <div class="card-buttons">
      <button class="card-buttons__save">Save</button>
      <button class="card-buttons__close">Close</button>
    </div>
  </div>
</div>
