.card-holder {
	width: 1630px;
	margin: 0 auto;

	.card {
		width: 400px;
		float: left;
		margin-right: 10px;

		.card-header {
			height: 200px;
			border: 1px solid black;
			overflow: hidden;
			background-color: #6298c7;

			.card-header__title {
				height: 200px;
				overflow: hidden;
				text-align: center;
				margin-right: 20px;
				margin-left: 20px;
			}

			.card-header__image {
				border-right: 1px solid black;
				height: 200px;
				float: left;
			}
		}

		.card-body {
			height: 500px;
			border: 1px solid black;
			overflow: hidden;
			text-align: justify;
			color: #6298c7;
			background-color: black;

			h4 {
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	.card2 {
		width: 400px;
		float: left;
		margin-right: 10px;

		.card2-header {
			height: 200px;
			border: 1px solid black;
			overflow: hidden;
			background-color: #e69b4d;

			.card2-header__title {
				height: 200px;
				overflow: hidden;
				text-align: center;
				margin-right: 20px;
				margin-left: 20px;
			}

			.card2-header__image {
				border-right: 1px solid black;
				height: 200px;
				float: left;
			}
		}
		.card2-body {
			height: 500px;
			border: 1px solid black;
			overflow: hidden;
			text-align: justify;
			color: #e69b4d;
			background-color: black;

			h4 {
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	.card3 {
		width: 400px;
		float: left;
		margin-right: 10px;

		.card3-header {
			height: 200px;
			border: 1px solid black;
			overflow: hidden;
			background-color: #43af86;

			.card3-header__title {
				height: 200px;
				overflow: hidden;
				text-align: center;
				margin-right: 20px;
				margin-left: 20px;
			}

			.card3-header__image {
				border-right: 1px solid black;
				height: 200px;
				float: left;
			}
		}

		.card3-body {
			height: 500px;
			border: 1px solid black;
			overflow: hidden;
			text-align: justify;
			color: #43af86;
			background-color: black;

			h4 {
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	.card4 {
		width: 400px;
		float: left;

		.card4-header {
			height: 200px;
			border: 1px solid black;
			overflow: hidden;
			background-color: #b27178;

			.card4-header__title {
				height: 200px;
				overflow: hidden;
				text-align: center;
				margin-right: 20px;
				margin-left: 20px;
			}

			.card4-header__image {
				border-right: 1px solid black;
				height: 200px;
				float: left;
			}
		}
		.card4-body {
			height: 500px;
			border: 1px solid black;
			overflow: hidden;
			text-align: justify;
			color: #b27178;
			background-color: black;

			h4 {
				margin-right: 20px;
				margin-left: 20px;
			}
		}
	}

	.card-buttons {
		height: 47px;
		margin-bottom: 50px;
		text-align: right;

		.card-buttons__save {
			&:hover {
				background-color: #d7d3de;
				color: black;
			}
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-right: 5px;
		}

		.card-buttons__close {
			&:hover {
				background-color: #d7d3de;
				color: black;
			}
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
		}
	}
}
