<div class="card">
  <div class="card-header">
    <div class="card-header__image">
      <img src="https://66.media.tumblr.com/c64fe28ea8c77626d8f767be7a45b3b1/tumblr_ps8vq5uvWW1v2kn4yo3_250.png"
        width=200 height=200>
    </div>
    <div class="card-header__title">
      <h2>Muzan Kibutsuji <br /> 鬼き舞ぶ辻つじ無む惨</h2>
    </div>
  </div>
  <div class="card-body">
    <h4>Muzan is a cold-hearted and ruthless individual with a narcissistic streak and an obsession for perfection. He
      wants every plan he concocted to be absolutely perfect, which is why he doesn't tolerate failures of any kind,
      resorting to punishing those who fail him or those he considers weak.
      His inflated ego is such that he doesn't take kindly to being mocked, demonstrated by killing a pair of drunk men
      simply for being rude to him along with their woman partner, all in gruesome fashion while proclaiming his
      superiority of being close to that of perfection.
      By proxy, he also dislikes when he is questioned or ordered by those beneath him, and doesn't take his opponents
      seriously.
      He has shown to be fairly manipulative and cunning, being able to blend in human society normally, even having a
      family of his own to add. His intelligence makes him a quick-thinker who is able to deal with unfavorable
      situations rapidly.
      Because of his perceived superiority and his double-faced nature, he feels little attachment to his henchmen,
      using them and discarding them as disposable pawn whenever he pleases. He is able to sway many demons to his side
      with promises of power and grandeur, which are ultimately false given Kibutsuji only cares about himself, and has
      no qualms about killing his own men to protect his own safety.
      As proof of this, he curses his subordinates in a terrifying manner so that none of them may utter his name, or
      else they will be killed instantly in a morbidly cruel manner. Interestingly this almost paranoiac sense of
      self-preservation contrasts with his megalomania. </h4>
  </div>
  <div class="card-buttons">
    <button class="card-buttons__save">Save</button>
    <button class="card-buttons__close">Close</button>
  </div>
</div>
