.card {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;

	.card-header {
		height: 200px;
		border: 1px solid black;
		overflow: hidden;
		background-color: #f0ead7;

		.card-header__image {
			border-right: 1px solid black;
			height: 200px;
			float: right;
		}

		.card-header__title {
			height: 200px;
			overflow: hidden;
			text-align: center;
			margin-right: 20px;
			margin-left: 20px;
		}
	}

	.card-body {
		border: 1px solid black;
		overflow: hidden;
		text-align: justify;
		color: #f0ead7;
		background-color: black;

		h4 {
			margin-right: 20px;
			margin-left: 20px;
		}
	}

	.card-buttons {
		height: 47px;
		text-align: left;

		.card-buttons__save {
			&:hover {
				background-color: #d7d3de;
				color: black;
			}
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-right: 5px;
		}

		.card-buttons__close {
			&:hover {
				background-color: #d7d3de;
				color: black;
			}
			background-color: black;
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
		}
	}
}
